*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #9ad7db, #9cb5eb);
  padding: clamp(20px, 5vw, 50px) 30px 10px; 
  /* clamp(mini, préférée en relatif !, maxi) 5vw=5% de la largeur préférée */
}


.intro

h1 {
  text-align: center;
  margin: 10px auto 50px;
  font-size: 3em;
  color: rgb(255, 255, 255);
  /* background: #d1b07b; */
  /* background: #7598e3; */
  border-radius: 20px;
}

.intro {
  
}


.container {
  flex-direction: column;
  justify-content: center;
}

.ess {
  display: flex;  
  flex-direction: column;
  width: 85%;
  justify-content: center;
  margin: 20px auto;  
  padding: 1em;
  /* background: rgb(237, 237, 237); */
  background: white;
  /* background: rgba(255, 255, 255, 0.9); */
  /* border: #333 2px solid; */
  border: none;
  outline: none;
  border-radius: 1em;
  box-shadow: 2px 2px 3px rgb(212, 212, 212);
}

/* .logo svg{
  max-height: 70px;
} */

img {
  display: block;
  /* margin-inline: auto; */
  max-width: 200px;
  max-height: 100px;
  /* min-height: 100px; */
}

.title h2 {
  font-size: 2em;
  margin: 20px 0 0;
}

p, li {
  font-size: 1.1em;
}

p {
  margin: 10px 0;  
}

.title p {  
  margin: 15px 0 10px;
}

 
ul {
  margin-bottom: 4px;
}

/* .accordion-content h3 {
  text-align: center;
} */

span {
  font-weight: bold;
}

.accordion span {
  text-transform: uppercase;
}

.accordion-content h3, .accordion-content h4 {
  margin-bottom: -10px;
}

button.accordion {
  width: 100%;
  /* background-color: rgb(237, 237, 237); */
  background: transparent;
  border: none;
  outline: none;
  text-align: left;
  padding: 0;
  /* padding: 1em 1em 0em; */
  /* padding: 0.5em 1em 0.5em; */
  font-size: 1.1em;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s linear;  
}

/* button.accordion:hover,
button.accordion.is-open {
    background-color: #d1b07b;
} */

button.accordion:hover {
    /* background-color: #d1b07b; */
    /* background: #9ad7db; */
    /* background: #e0f9fa; */
}

.arrow-down > img { 
  margin-inline: auto;
}

.arrow-up > img { 
  margin-inline: auto;
  transform: rotate(0.5turn);
}

.accordion-content {
    /* background-color: white; */
    /* border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke; */
    /* padding: 0 20px; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

h2.h2-delta {
  margin-top: 5 px;
}



















/* .titre-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 15px;
} */

/* .logo {
  width: 150px;
  max-height: 100px;
  background: rgb(174, 97, 2);
  margin: 0 auto; 
} */


/* .more {
  position:relative;
  padding-bottom: 2em;
  text-align: justify;
  font-size: 1.2em;
} */

/* .more h2 {
  margin: 0;
  color:rgb(174, 97, 2);
  font-size: 1.4em;
} */

a {
  color:black;
  text-decoration: none;
}